<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AnonymBrowser.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AnonymBrowser.My.MySettings>
            <setting name="SE" serializeAs="String">
                <value>DuckDuGo</value>
            </setting>
            <setting name="Google" serializeAs="String">
                <value>https://www.google.de/search?q=</value>
            </setting>
            <setting name="Bing" serializeAs="String">
                <value>https://www.bing.com/search?q=</value>
            </setting>
            <setting name="DuckDuckGo" serializeAs="String">
                <value>https://duckduckgo.com/?t=h_&amp;q=</value>
            </setting>
        </AnonymBrowser.My.MySettings>
    </userSettings>
</configuration>
